* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}


/*--------------------------------------------Navigation------------------------------------------*/

nav {
  max-width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  background-color:#133A67; 
}

.logoSection {
  width: 20%;
  height: 100%;
  background-color:#FFFFFF; 
}

.navButtons {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
	
}

.navItem{
  color:#FFFFFF;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration-line:none;
}

.date_and_time {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:#FFFFFF;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  font-size: 17px;
}



/*------------------------------------Main Body Section----------------------------------------*/


.mainSection {
  max-width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

/*---------Main Body Section A---------*/

.mainSection_a {
  height: 100%;
  width: 16.65%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: left;

}

/*---------Main Body Section B---------*/

.mainSection_b {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainHeader{
  height: 330px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:#133A67;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

/*---------Contacts---------*/

.contacts{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-left:50px;
}

.address{
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.phone{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.email{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.website{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon_address{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.text_address{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color:#133A67;
}


.icon{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color:#133A67;
  text-decoration:none;

}

.link{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color:#133A67;
}

/*------Mission Statement-----*/

.missionStatement{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color:#3D3D3D;
  margin-left:60px;
}

/*---------Main Body Section C---------*/

.mainSection_c {
  height: 100%;
  width: 16.65%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

/*----------------------------------------Footer---------------------------------------------*/

footer {
  max-width: 100vw;
  height: 30vh;
  background-color:#133A67; 
}


.footerSection1{
  width: 100%;
  height: 33.3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
	
}

.footerSection2{
  width: 100%;
  height: 33.3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
	
}

.footerSection3{
  width: 100%;
  height: 33.3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	
}


.footItem{
  color:#000000;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-decoration-line:none;
}






























